* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cinza-claro: #F9F9F9;
    --branco: #FFFFFF;
    --coral: #F55B64;
    --ocre: #C2373F;
    --marinho: #131730;
    --degrade-azul: linear-gradient(180deg, #000000 0%, #26327F 100%);
    --footer-color: #DBE4EF;

    --font-titulo: "Krona One", sans-serif;
    --font-texto: "Numans", sans-serif;
}

h1 {
    font-family: var(--font-titulo);
}

input, 
button { 
    border-radius: 24px;
    padding: .8rem 1rem;
    font-family: var(--font-texto);
}

button { border: none; }

li {
    list-style: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--degrade-azul);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh; 
    padding-bottom: 4rem;
}

main {
    margin: 4rem auto;
    max-width: 440px;
    background-color: var(--cinza-claro);
    border-radius: 16px;
    padding: 3.8rem;
    position: relative; 
    min-height: 100px;
}

/* Adicionar Item */
.section-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-addItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin: 1.4rem 0 3rem 0;
    width: 100%;
}

#form-addItem #input-add {
    border-radius: 24px;
    padding: .8rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
}

#input-add:focus { border-color: var(--coral); }

#btn-add {
    background-color: var(--coral);
    color: var(--branco);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#btn-add:hover { background-color: var(--ocre); }

/* Lista de compras*/
.list, 
.list-buied { 
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

#message-list {
    color: var(--marinho);
    font-size: 1.2rem;
    font-family: var(--font-texto);
}

h1 {
    font-family: var(--font-titulo);
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--coral);
    border-bottom: 3px dotted var(--coral);
    line-height: 40px;
    margin-bottom: 1.4rem;
}

.container-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkbox-container { padding: 0; }

.checkbox-input {
    display: none;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    background-color: var(--cinza-claro);
    border: 3px solid var(--marinho);
    border-radius: 4px;
    cursor: pointer;
}

.checked {
    background-color: var(--marinho);
    position: relative;
}

.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;

    border-top: 2px solid var(--cinza-claro);
    border-left: 2px solid var(--cinza-claro);
    transform: rotate(-140deg);
}

.container-name {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-name h3 {
    font-family: var(--font-texto);
    font-weight: 500;
} 

.container-buttons {
    display: flex;
    gap: .5rem;
}

.container-buttons button {
    background: transparent;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.container-buttons button:is(:hover, :focus-visible) { color: var(--ocre); }

.item-date {
    font-size: 16px;
    font-weight: 400;
    margin-top: .5rem;
}

.title-buied { 
    margin-top: 40px; 
}

footer {
    text-align: center;
    color: var(--footer-color);
    font-size: 1rem;
    margin-top: 10rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 530px) {
    main { 
        max-width: 400px; 
    }

    footer {
        padding-inline: 1rem;
    }
}

@media screen and (max-width: 440px) {
    main {
        max-width: 330px;
        padding-inline: 1rem;
    }

    #message-list {
        font-size: 1.1rem;
    }
}